#paper {
    display: inline-block;
    border: solid black;
    margin: .1em .5em 1em 2em;
}

.marker-arrowhead {
    opacity: 0;
}

 .marker-vertex {
     opacity: 0;
}

.link-tools { display: none }

.commandTools{
    margin: auto;
}


#stopHistory{
    display: inline;
}

.disabledPaper {
    pointer-events: none;
}

.deleteLink{
    margin-right: 60%;
}

