.rectangleAdd{
    cursor: url("../../images/rectangle.svg"), auto;
}

.linkAdd{
    cursor: url("../../images/link.svg"), auto;
}


.cycleAdd{
    cursor: url("../../images/cycle.svg"), auto;
}