.rectangleAdd{
    cursor: url("../../images/rectangle.svg"), auto;
}

.linkAdd{
    cursor: url("../../images/link.svg"), auto;
}


.loopAdd{
    cursor: url("../../images/loop.svg"), auto;
}